In [1]:
import pandas as pd
import numpy as nm

In [2]:
names= ['Class', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids',
    'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']
names_of_class = ['Class']
names_of_features = names[1:]
data = pd.read_csv('wine.data', header=None, names = names, index_col = False)

In [3]:
# разделим признаки и классы
fdata = data.drop('Class',axis=1) #данные фич
cdata = data.Class #данные классов

In [7]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [8]:
kf = KFold(n_splits=5, random_state=42, shuffle=True)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn = []
scores = []
from sklearn.model_selection import cross_val_score

In [10]:
# первый вариант - используем cross_val_score.
# она сама создаст разбиения по переданному KFold, обучит модели и проверит на тестовых выборках
for k in range(1,51):
    knn.append(KNeighborsClassifier(n_neighbors=k))
    scores.append(cross_val_score(knn[k-1], fdata, cdata.values, cv = kf))

In [11]:
#средние scores в первом варианте
meanscores = []
for i in range(1,51):
    meanscores.append(scores[i-1].mean())
    print("K=" + str(i) + ": " + str(scores[i-1].mean()))

K=1: 0.7304761904761905
K=2: 0.6625396825396825
K=3: 0.7082539682539682
K=4: 0.6577777777777778
K=5: 0.6746031746031746
K=6: 0.6742857142857144
K=7: 0.68
K=8: 0.6799999999999999
K=9: 0.7023809523809523
K=10: 0.6801587301587302
K=11: 0.7025396825396826
K=12: 0.6966666666666667
K=13: 0.6909523809523809
K=14: 0.6793650793650794
K=15: 0.701904761904762
K=16: 0.6795238095238096
K=17: 0.7015873015873015
K=18: 0.6795238095238095
K=19: 0.6793650793650793
K=20: 0.6909523809523809
K=21: 0.7019047619047619
K=22: 0.6965079365079364
K=23: 0.7020634920634921
K=24: 0.7076190476190476
K=25: 0.7019047619047619
K=26: 0.6965079365079365
K=27: 0.6963492063492064
K=28: 0.7079365079365079
K=29: 0.7134920634920634
K=30: 0.7079365079365079
K=31: 0.690952380952381
K=32: 0.7134920634920634
K=33: 0.7134920634920634
K=34: 0.7246031746031747
K=35: 0.7246031746031747
K=36: 0.7134920634920636
K=37: 0.7134920634920634
K=38: 0.7134920634920634
K=39: 0.7079365079365079
K=40: 0.7077777777777777
K=41: 0.7134920634920634
K=42: 0.7077777777777777
K=43: 0.7077777777777777
K=44: 0.7077777777777777
K=45: 0.7077777777777777
K=46: 0.7077777777777777
K=47: 0.6966666666666667
K=48: 0.7190476190476192
K=49: 0.6966666666666667
K=50: 0.7077777777777777

In [12]:
#второй вариант. Делаем цикл по K, а в нем - по разбивкам
#сами обучаем и вычисляем score
knn2 = []
k_accuracy = []
for k in range(1,51):
    knn2.append(KNeighborsClassifier(n_neighbors=k))
    accuracy = []
    for train_index, test_index in kf.split(fdata):
        #print("TRAIN:", train_index, "TEST:", test_index)
        X_train, X_test = fdata.loc[train_index], fdata.loc[test_index]
        y_train, y_test = cdata.loc[train_index], cdata.loc[test_index]
        knn2[k-1].fit(X_train, y_train.values.ravel())
        thescores = knn2[k-1].score(X_test, y_test.values.ravel())
        #print(thescores)
        accuracy.append(thescores)
    k_accuracy.append(nm.mean(accuracy))    
#print (k_accuracy)

In [13]:
accdata = pd.DataFrame(meanscores, columns=['Meth.1'])

In [14]:
accdata['Meth.2'] = pd.DataFrame(k_accuracy)

In [15]:
accdata

      Meth.1    Meth.2
0   0.730476  0.730476
1   0.662540  0.662540
2   0.708254  0.708254
3   0.657778  0.657778
4   0.674603  0.674603
5   0.674286  0.674286
6   0.680000  0.680000
7   0.680000  0.680000
8   0.702381  0.702381
9   0.680159  0.680159
10  0.702540  0.702540
11  0.696667  0.696667
12  0.690952  0.690952
13  0.679365  0.679365
14  0.701905  0.701905
15  0.679524  0.679524
16  0.701587  0.701587
17  0.679524  0.679524
18  0.679365  0.679365
19  0.690952  0.690952
20  0.701905  0.701905
21  0.696508  0.696508
22  0.702063  0.702063
23  0.707619  0.707619
24  0.701905  0.701905
25  0.696508  0.696508
26  0.696349  0.696349
27  0.707937  0.707937
28  0.713492  0.713492
29  0.707937  0.707937
30  0.690952  0.690952
31  0.713492  0.713492
32  0.713492  0.713492
33  0.724603  0.724603
34  0.724603  0.724603
35  0.713492  0.713492
36  0.713492  0.713492
37  0.713492  0.713492
38  0.707937  0.707937
39  0.707778  0.707778
40  0.713492  0.713492
41  0.707778  0.707778
42  0.707778  0.707778
43  0.707778  0.707778
44  0.707778  0.707778
45  0.707778  0.707778
46  0.696667  0.696667
47  0.719048  0.719048
48  0.696667  0.696667
49  0.707778  0.707778